*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  height: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  /* ? */
  flex-direction: row;
  justify-content: space-between;

  align-items: end;
  gap: 30px;
  min-width: 1140px;


  margin: auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  min-width: 711px;
  /* align-items: end; */
  /* min-height: 54px; */
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 399px;
  /* min-height: 531px; */
  /* padding-bottom: 23px; */
  
}

.content__list {
  position: relative;
  max-width: 399px;
  max-height: 298px;
  overflow: scroll;
  overflow-x: auto;
  margin-top: 23px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  background-color: #fff;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  /* justify-content: space-between; */
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-position: center;
  object-fit: cover;
  /* min-width: 194px;
  min-height: 103px; */
  margin: 2px 0;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  font-family: "Oswald",sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.935em;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  /* line-height: 0.95em; */
  margin-bottom: 5px;
  /* font-family: 'Oswald'; */
  font-weight: 400;
  font-size: 18px;
  word-spacing: -0.05em;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus-visible {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  min-width: 212px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;

  /* border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; */
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  /* line-height: 0.95em; */
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* text-align: start; */
  padding-left: 0;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__submit-button {
  min-width: 194px;
  margin-top: auto;
}

.more-button {
  min-width: 399px;
  margin-right: auto;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
  vertical-align: middle;
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox:checked + span::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: #fff;
}

/* .search-form__checkbox:checked + span {
  background-color: #fff;
} */

.search-form__label:has(.search-form__pseudo-checkbox) {
  margin-left: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__list {
  /* display: flex;
  flex-direction: column;
  align-items: end; */
  min-width: max-content;
}

.content__list-item {
  min-height: 107px;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__card-link:active {
  background-color: #545050;
}



::-webkit-scrollbar {
  display: none;
}

.content__video-card-description-container {
  min-width: 200px;
  min-height: 101px;
}



.content__video-card-description {
  /* font-family: 'O'; */
  font-weight: 400;
  font-size: 18px;
}

.content__card-link_current {
  background-color: #545050;
}
